{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\ActiveForm') }}

<div class="weather-station-index">

    {% trans Hello %}
    {% trans string_var %}

    {% trans %}
    Hello World!
    {% endtrans %}
    {% set form = active_form_begin({
        'id' : 'weather',


    })%}
        {{ form.field(model, 'temperature') | raw }}
        {{ form.field(model, 'humidity') | raw }}
        {{ form.field(model, 'pressure') | raw }}

        <div class="form-group">

            <!--<?= Html::submitButton(Yii::t('app', 'Submit'), ['class' => 'btn btn-primary']) ?>-->
            {{ html.a('test', 'link', {'class':'btn btn-default'}) | raw }}
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    {{ active_form_end() }}
</div><!-- weather-station-index -->
